{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ game.name }}</h1>
                <p class="post-subtitle">{{ game.console }} | {{ game.date }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if game.cover_url %}
                <img src="{{ game.cover_url }}" alt="{{ game.title }} cover" class="scale">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% if is_admin %}
    <a href="{% url 'game_update' game.slug %}" class="btn btn-secondary">Edit Game</a>
    <button type="button" class="btn btn-danger btn-delete-game" data-bs-toggle="modal" data-bs-target="#deleteGameModal">Delete Game</button>
    {% endif %}
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ game.name }} is a game that was released for {{ game.console }} on {{ game.date }}.<br><br>
                    It currently has a Metascore of {{ game.metascore }}/100 and a User Score of
                    {{ game.userscore}}/10.<br><br>
                    If you have any hints, tips or tricks, or you want to leave your own review, please comment below!
                </p>
            </div>
        </div>
    </div>
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div id="comment{{ comment.id }}"
                    class="p-2 comments {% if not comment.approved and comment.author == user %} faded {% elif not comment.approved %} d-none {% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <!-- Edit button -->
                    <a href="#" class="btn btn-edit" aria-label="Edit comment" comment_id="{{ comment.id }}" data-edit-url="{% url 'comment_edit' game.slug comment.id %}">Edit</a>
                    <!-- Delete button -->
                    <button class="btn btn-delete" data-bs-toggle="modal" data-bs-target="#deleteModal"
                    data-comment-id="{{ comment.id }}" data-game-slug="{{ game.slug }}" aria-label="Delete comment">Delete</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    
        <!-- Comment Form -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a Comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" action="{% url 'game_detail' game.slug %}" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    aria-label="Close modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger" data-comment-id="{{ comment.id }}" aria-label="Confirm delete comment">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Superuser delete confirmation modal -->
<div class="modal fade" id="deleteGameModal" tabindex="-1" aria-labelledby="deleteGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteGameModalLabel">Delete game?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this game? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form id="deleteGameForm" action="{% url 'game_delete' game.slug %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}