{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        {% if is_admin %}
        <a href="{% url 'game_create' %}" class="btn btn-primary">Add New Game</a>
        {% endif %}

        <!-- Game Entries Column -->
        <div class="col-16 mt-3 left">
            <div class="row">
                {% for game in game_list %}
                <div class="col-md-3 px-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            {% if is_admin %}
                            <a href="{% url 'game_update' game.slug %}" class="btn btn-secondary">Edit Game</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGameModal"
                            data-game-slug="{{ game.slug }}">Delete Game</button>
                            {% endif %}
                            <div class="image-container">
                                {% if game.cover_url %}
                                <img src="{{ game.cover_url }}" alt="{{ game.title }} cover">
                                {% else %}
                                <img src="{% static 'images/default.webp' %}" class="game-cover"
                                    alt="{{ game.title }} default cover">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ game.console }}</p>
                                </div>
                            </div>
                            <a href="{% url 'game_detail' game.slug %}" class="post-link"
                                aria-label="View details for {{ game.name }}">
                                <h2 class="card-title">{{ game.name }}</h2>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">Metascore: {{ game.metascore }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                    aria-label="Go to previous page">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Go to next page"> NEXT
                    &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Game delete modal -->
<div class="modal fade" id="deleteGameModal" tabindex="-1" aria-labelledby="deleteGameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteGameModalLabel">Delete game?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this game?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close modal">Close</button>
                <a id="deleteGameConfirm" href="#" class="btn btn-danger" aria-label="Confirm delete game">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

{% block copyright %}
Copyright 2024 Dylan K.
{% endblock %}