{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <!-- Game Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for game in game_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if game.cover_url %}
                                <img src="{{ game.cover_url }}" alt="{{ game.title }} cover">
                                {% else %}
                                <img src="{% static 'images/default.webp' %}" class="game-cover"
                                    alt="{{ game.title }} default cover">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ game.console }}</p>
                                </div>
                            </div>
                            <a href="{% url 'game_detail' game.slug %}" class="post-link"
                                aria-label="View details for {{ game.name }}">
                                <h2 class="card-title">{{ game.name }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">Metascore: {{ game.metascore }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                    aria-label="Go to previous page">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Go to next page"> NEXT
                    &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}

{% block copyright %}
Copyright 2024 Dylan K.
{% endblock %}