/* Set the background color for the entire body */
body {
    background-color: #F9FAFC;
}

/* Style for logo */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Define a class for thin font weight */
.thin {
    font-weight: 300;
}

/* Define background colors for different sections */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Remove border and set transparent background for cards */
.card {
    border: none;
    background-color: transparent;
}

/* Set up container for images */
.image-container {
    position: relative;
}

/* Style for flash overlay on images */
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

/* Ensure images scale properly */
.scale {
    width: 100%;
    height: auto;
}

/* Style for author name */
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Styling for the masthead section */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

/* Create a skewed overlay effect for the masthead image */
.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Styling for post links */
.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

/* Positioning for post title and subtitle */
.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Styling for signup and edit buttons */
.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Styling for links */
.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Styling for like button */
.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

/* Styling for delete button */
.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Styling for faded text */
.faded {
    color: rgb(172, 175, 175);
}

/* Styling for approval text */
.approval {
    color: rgb(222, 146, 168);
}

/* Styling for default game cover art */
.game-cover {
    width: 264px;
    height: 352px;
    object-fit: cover;
}
